.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  background: #98a2e8;
  font-family: 'Comfortaa', cursive;
  color: #FFF;
}

.section-title {
  background: #5daa7c;
  display: inline-block;
  font-size: 1rem;
  padding: 5px 8px 1px 8px;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.col {
  padding-right: 5px;
  padding-left: 5px;
}

.card {
  margin-bottom: 0.6rem;
}

.card.active {
  background: steelblue;
}

.card.disabled {
  opacity: 0.3;
}

.card-body {
  padding: 0.6rem;
}

.row-height{
  height: 100vh;
}

.scroll-column {
    height: 100%;
    overflow-y: scroll;
}

.scroll-column a {
  color: inherit
}

.scroll-column a:hover {
  text-decoration: none;
}

.display-total {
  font-size: 2rem;
}

#root {
    padding: 60px 0 0 0;
}

.bar {
  fill: #5f6d9e;
  transition: fill 100ms;

}

.bar-group:hover .bar {
  fill: #f6ff49;
  cursor: pointer;
}

.bar-group:hover .bar-label {
  opacity: 1;
}

.bar-label {
  transition: opacity 100ms;
}

.axis, .domain, .tick, .tick line {
  stroke: #FFF;
}

.tick text {
  stroke: none;
  fill: #FFF;
  font-family: 'Comfortaa', cursive;
}

.bar-label {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 1.5rem;
  fill: #FFF;
  opacity: 0;
}

.big-number {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 3rem;
}

.big-number-subtitle {
  font-size: 12px;
  text-align: center;
}

.budget-section {
  border-bottom: 1px solid #c7c7c7;
  padding: 40px 0 0 0;
}
